@import "_params";
@import "_params-fonts";


html,
body {
  @include font-init;
  position: relative;
  padding: 0;
  margin: 0;
  color: $color-dark;
  background-color: $color-dark;
}
html {font-size: $font-size}

h1 {
  @include font-l;
}

h2 {

}

p {
  @include font-xl;
  line-height: 1.5;
}

em {
  font-style: inherit;
  color: $color-main;
}

a {
  color: $color-dark;
  text-decoration: none;
  border-bottom: solid 2px $color-main;
}