@import "_params";

@mixin page-element($type: "dark") {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  padding-top: $gutter-width * 4;
  padding-bottom: $gutter-width * 4;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
  opacity: 1;

  @if($type == "dark") {
    background-color: $color-dark;
    color: $color-light;
  }
  @else {
    background-color: $color-light;
    color: $color-dark;
  }
}

.v-pages-wrap {
  @mixin previous-rm {
    transform: translateY(-50vh);
    opacity: 0;
  }
  @mixin previous {
    transform: translateY(-50vh);
    opacity: 0;
  }
  @mixin current {
    transform: translateY(0);
    opacity: 1;
  }
  @mixin next {
    transform: translateY(100vh);
    opacity: 1;
  }
  @mixin next-rm {
    transform: translateY(100vh);
    opacity: 1;
  }

  &.introduction {
    .v-introduction { @include current;  }
    .v-description  { @include next;   }
    .v-contact      { @include next-rm;      }
    .v-quotation    { @include next-rm;      }
  }

  &.description {
    .v-introduction { @include previous;  }
    .v-description  { @include current;   }
    .v-contact      { @include next;      }
    .v-quotation    { @include next-rm;      }
  }

  &.contact {
    .v-introduction { @include previous-rm;  }
    .v-description  { @include previous;   }
    .v-contact      { @include current;      }
    .v-quotation    { @include next;      }
  }

  &.quotation {
    .v-introduction { @include previous-rm;  }
    .v-description  { @include previous-rm;   }
    .v-contact      { @include previous;      }
    .v-quotation    { @include current;      }
  }
}