@import "_params";

@mixin page-element($type: "dark") {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  padding-top: $gutter-width * 4;
  padding-bottom: $gutter-width * 4;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
  transform: translateY(100vh);
  opacity: 1;

  @if($type == "dark") {
    background-color: $color-dark;
    color: $color-light;
  }
  @else {
    background-color: $color-light;
    color: $color-dark;
  }
}

.v-pages-wrap {
  &.introduction {
    .v-introduction {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.description {
    .v-introduction {
      transform: translateY(-50vh);
      opacity: 0;
    }
    .v-description {
      transform: translateY(0);
      opacity: 1;
    }
  }
}