@import "_params-fonts";

@mixin button {
  all: unset;
  @include font-reg;
  display: block;
  margin: auto;
  border: solid 2px;
  padding: $gutter-width / 2;
  cursor: pointer;
}

@mixin button-blue {
  @include button;
  color: $color-main;
}